<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" *ngIf="mostrarMenu"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/home">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Crud Web</h1>

      </a>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="table">
        <ul>
          <li nz-menu-item>
            <a routerLink="/home">Home</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="CRUD" nzIcon="table">
        <ul>
          <li nz-menu-item>
            <a routerLink="/developer">Developers</a>
          </li>
        </ul>
      </li>

    </ul>

  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
               *ngIf="mostrarMenu"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
